NET A2[0]       LOC=P70;
NET A2[1]       LOC=P69;
NET A2[2]       LOC=P72;
NET A23         LOC=P71;
NET CPU_AS      LOC=P47;
NET CPU_BERR    LOC=P52;
NET CPU_BG      LOC=P45;
NET CPU_BGACK   LOC=P43;
NET CPU_BR      LOC=P48;
NET CPU_CLK     LOC=P46;
NET CPU_DTACK   LOC=P44;
NET CPU_HALT    LOC=P51;
NET CPU_IPL0    LOC=P6;
NET CPU_IPL1    LOC=P53;
NET CPU_IPL2    LOC=P5;
NET CPU_LDS     LOC=P40;
NET CPU_RESET   LOC=P50;
NET CPU_RW      LOC=P41;
NET CPU_UDS     LOC=P39;
NET D[0]        LOC=P58;
NET D[1]        LOC=P83;
NET D[2]        LOC=P61;
NET D[3]        LOC=P4;
NET D[4]        LOC=P63;
NET D[5]        LOC=P1;
NET D[6]        LOC=P62;
NET D[7]        LOC=P2;
NET DUART_CLK   LOC=P3;
NET DUART_CS    LOC=P82;
NET DUART_DTACK LOC=P80;
NET DUART_IACK  LOC=P77;
NET DUART_IRQ   LOC=P74;
NET DUART_OP4   LOC=P76;
NET DUART_OP5   LOC=P81;
NET DUART_OP6   LOC=P79;
NET DUART_OP7   LOC=P84;
NET DUART_RESET LOC=P75;
NET DUART_RW    LOC=P68;
NET FC0         LOC=P32;
NET FC1         LOC=P36;
NET FC2         LOC=P33;
NET GPO[0]      LOC=P10;
NET GPO[0]      BUFG=CLK;
NET GPO[1]      LOC=P13;
NET GPO[2]      LOC=P15;
NET GPO[3]      LOC=P18;
NET GPO[4]      LOC=P20;
NET GPO[5]      LOC=P23;
NET GPO[6]      LOC=P25;
NET GPO[7]      LOC=P31;
NET GPI[0]      LOC=P12;
NET GPI[1]      LOC=P14;
NET GPI[2]      LOC=P17;
NET GPI[3]      LOC=P19;
NET GPIO_IPL0   LOC=P21;
NET GPIO_IACK   LOC=P24;
NET GPIO_AS     LOC=P26;
NET GPIO_DTACK  LOC=P34;
NET Q2_Clock    LOC=P9; 
NET Q2_Clock    BUFG=CLK;
NET Q2_Enable   LOC=P11;
NET RAM_CE      LOC=P56;
NET RAM_LB      LOC=P54;
NET RAM_OE      LOC=P57;
NET RAM_UB      LOC=P55;
NET RAM_WE      LOC=P65;
NET Reset_In    LOC=P35;
NET ROM_CE      LOC=P66;
NET ROM_OE      LOC=P67;
NET ROM_WE      LOC=P37;
NET Speaker     LOC=P7;