Xilinx/MCD_CJG/MCE_CJG.bld
Xilinx/MCD_CJG/MCE_CJG.cmd_log
Xilinx/MCD_CJG/MCE_CJG.jed
Xilinx/MCD_CJG/MCE_CJG.nga
Xilinx/MCD_CJG/MCE_CJG.ngc
Xilinx/MCD_CJG/MCE_CJG.ngd
Xilinx/MCD_CJG/MCE_CJG.ngr
Xilinx/MCD_CJG/MCE_CJG.pad
Xilinx/MCD_CJG/MCE_CJG.rpt
Xilinx/MCD_CJG/MCE_CJG.syr
Xilinx/MCD_CJG/MCE_CJG.xml
Xilinx/MCD_CJG/MCE_CJG_ngdbuild.xrpt
Xilinx/MCD_CJG/MCE_CJG_pad.csv
Xilinx/MCD_CJG/MCE_CJG_summary.html
Xilinx/MCD_CJG/MCE_CJG_xst.xrpt
Xilinx/MCD_CJG/MCD_CJG.xise
Xilinx/MCD_CJG/MCE_CJG.gyd
Xilinx/MCD_CJG/MCE_CJG.lso
Xilinx/MCD_CJG/MCE_CJG.mfd
Xilinx/MCD_CJG/MCE_CJG.pnx
Xilinx/MCD_CJG/MCE_CJG.prj
Xilinx/MCD_CJG/MCE_CJG.stx
Xilinx/MCD_CJG/MCE_CJG.tim
Xilinx/MCD_CJG/MCE_CJG.tspec
Xilinx/MCD_CJG/MCE_CJG.vm6
Xilinx/MCD_CJG/MCE_CJG.xst
Xilinx/MCD_CJG/MCE_CJG_build.xml
Xilinx/MCD_CJG/MCE_CJG_envsettings.html
Xilinx/MCD_CJG/iseconfig/MCE_CJG.xreport
Xilinx/MCD_CJG/xst
Xilinx/MCD_CJG/temperr.err
Xilinx/MCD_CJG/usage_statistics_webtalk.html
Xilinx/MCD_CJG/webtalk.log
Xilinx/MCD_CJG/impact.xsl
Xilinx/MCD_CJG/_ngo
Xilinx/MCD_CJG/_xmsgs
Xilinx/MCD_CJG/iseconfig/Proj2*
Xilinx/MCD_CJG/MCE_CJG_html
Xilinx/MCD_CJG/Proj2_html
Xilinx/MCD_CJG/xlnx_auto_0_xdb
Xilinx/MCD_CJG/Proj2*
Xilinx/MCD_CJG/_impact*
Xilinx/MCD_CJG/ise_impact.cmd
Xilinx/MCD_CJG/temperr.err
Xilinx/MCD_CJG/webtalk_pn.xml
~*
.~*
